// BASE //

body {
   font-size: $base-font-size;
   font-family: $base-font-family;
   font-weight: $base-font-weight;
   color: $base-font-color;
   line-height: $base-line-height;
   background: $base-background-color;
}

.contain {
	@include contain;
   max-width: 1300px;
	@include breakpoint-wide {
	}
   @include breakpoint-mobile {
      width: 100%;
      padding: 0 22px;
   }
}

// CUSTOM SCROLL //

body {
   &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: $black;
      padding: 2px;
   }
   &::-webkit-scrollbar-thumb {
      background: $yellow;
      opacity: .5;
   }
   ::-moz-selection { /* Code for Firefox */
      color: $green;
      background: $black;
      opacity: .5;
   }
   ::selection {
      color: $green;
      background: $black;
      opacity: .5;
   }
}

// LINK STYLES //

a {
   cursor: pointer;
	position: relative;
	display: inline-block;
	outline: none;
   color: $white;
	@include desktop {
		transition: all .15s ease-in-out;
      img {transition: all .25s ease-in-out;}
	}
   &:after {
      @include desktop {
   		transition: all .15s ease-in-out;
   	}
   }
}

a:focus {outline:none;}
a:active {color: $white;}
a:visited {color: $white;}

.ul-link {
   text-decoration: underline;
   text-underline-offset: 3px;
}

.btn {
   background: $yellow;
   color: $black !important;
   font-family: $everett;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   text-align: center;
   display: table;
   padding: 10px 20px;
   letter-spacing: .025em;
   border-radius: 40px;
   @include desktop {
      &:hover {
         background: $white;
         color: $black;
      }
   }
   &.btn-12 {
      font-size: 12px;
   }
}


// TYPOGRAPHY //

.body-36 {
   font-size: 36px;
}

.body-32 {
   font-size: 32px;
   line-height: 1.4375;
   font-weight: 300;
}

.body-24 {
   font-size: 24px;
   font-weight: 300;
}

.body-20 {
   font-size: 20px;
}

.body-16 {
   font-size: 16px;
}

.body-12 {
   font-size: 12px;
}

h1, .h1 {
   font-weight: 200;
   font-size: 70px;
   line-height: 1.05;
}

h2, .h2 {
   font-size: 40px;
   font-weight: 200;
}

h3, .h3 {
   font-size: 20px;
   font-weight: 500;
   color: $yellow;
   text-transform: uppercase;
   font-family: $everett;
}

h4, .h4 {
   font-size: 18px;
   font-weight: 500;
   color: $yellow;
   text-transform: uppercase;
   font-family: $everett;
}

h5, .h5 {
   font-size: 25px;
   font-weight: 200;
}

// RESPONSIVE TYPOGRAPHY //

@include breakpoint-tablet {
   h1, .h1 {
      font-size: 55px;
   }
   h2, .h2 {
      font-size: 32px;
   }
   h5, .h5 {
      font-size: 20px;
   }
   .body-36 {
      font-size: 32px;
   }
   .body-32 {
      font-size: 28px;
   }
   .body-24 {
      font-size: 21px;
   }
}
@include breakpoint-mobile {
   body {
      font-size: $mobile-font-size;
   }
   h1, .h1 {
      font-size: 50px;
   }
   h2, .h2 {
      font-size: 25px;
   }
   h3, .h3 {
      font-size: 20px;
   }
   h4, .h4 {
      font-size: 15px;
   }
   .body-32 {
      font-size: 25px;
   }
   .body-20 {
      font-size: 18px;
   }
}
