// /fonts //

@font-face {
   font-family: 'TWKEverett';
   font-style: normal;
   font-weight: 200;
   src: url(/fonts/twk-everett/TWKEverett-Ultralight.woff)
       format("woff"),
     url(/fonts/twk-everett/TWKEverett-Ultralight.woff2)
       format("woff2");
}

@font-face {
   font-family: 'TWKEverett';
   font-style: normal;
   font-weight: 300;
   src: url(/fonts/twk-everett/TWKEverett-Light.woff)
       format("woff"),
     url(/fonts/twk-everett/TWKEverett-Light.woff2)
       format("woff2");
}

@font-face {
   font-family: 'TWKEverett';
   font-style: normal;
   font-weight: 400;
   src: url(/fonts/twk-everett/TWKEverett-Regular.woff)
       format("woff"),
     url(/fonts/twk-everett/TWKEverett-Regular.woff2)
       format("woff2");
}

@font-face {
    font-family: 'TWKEverett';
    src: url('/fonts/twk-everett/TWKEverett-Medium.woff2') format('woff2'),
        url('/fonts/twk-everett/TWKEverett-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'TWKEverett';
   font-style: normal;
   font-weight: 700;
   src: url(/fonts/twk-everett/TWKEverett-Bold.woff)
       format("woff"),
     url(/fonts/twk-everett/TWKEverett-Bold.woff2)
       format("woff2");
}

@font-face {
   font-family: 'TWKEverett';
   font-style: normal;
   font-weight: 900;
   src: url(/fonts/twk-everett/TWKEverett-Black.woff)
       format("woff"),
     url(/fonts/twk-everett/TWKEverett-Black.woff2)
       format("woff2");
}
