// RESET //

* {margin: 0px; padding: 0px; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -ms-text-size-adjust: 100%; text-size-adjust: 100%; -moz-osx-font-smoothing: grayscale;}
.bold {font-weight: 700;}
.italic {font-weight: italic;}
a, img, button {background: none; outline: none; border: 0px; text-decoration: none;}
button, .btn {transition: all .125s ease-in-out; cursor: pointer;}
img {display: block; width: 100%;}
ul, li {list-style-type: none;}
html, body {width: auto; min-width: 100%; max-width: 100%; min-height: 100%; overflow: auto; overflow-x: hidden;}
html.noScroll, body.noScroll {overflow: hidden;position:fixed;}
html {-ms-content-zooming: none; height: 100%;}
@-ms-viewport {width: device-width;}
*, ::before, ::after {border-style: none; border-width: 0;}
.clear {@include clear;}
:root {-ms-overflow-style: -ms-autohiding-scrollbar;}
