// LEARNING PATHS //

.learning-paths-slider {
   margin-top: 20px;
   .swipe {
      display: none;
   }
   .col-lt {
      display: flex;
      align-items: center;
      picture {
         padding: 0;
      }
      .title {
         text-align: center;
         font-weight: 700;
         text-transform: uppercase;
      }
      .card-content {
         padding: 10px 0 15px;
      }
   }
   .hero-grid {
      padding: 0 80px;
      grid-gap: 20px;
   }
   .hero-grid.grid-2-column {
      padding: 40px 80px;
   }
   @include breakpoint-991 {
      .slide {
         display: flex;
         flex-direction: column;
      }
      .col-lt {
         order: 2;
      }
      .col-rt {
         order: 1;
         border: 0;
         padding: 30px 0 20px;
         p {
            padding: 20px 0;
         }
      }
      .hero-grid {
         padding: 0 30px;
      }
      .hero-grid.grid-2-column {
         padding: 0 30px;
      }
      .slick-pager {
         justify-content: center;
      }
      .slick-arrow {
         display: none;
      }
      .swipe {
         display: block;
         text-align: center;
         padding: 10px 0 30px;
      }
   }
   @include breakpoint-mobile {
      .hero-grid {
         grid-template-columns: repeat(2, minmax(0, 1fr));
         grid-gap: 12px;
         .title {
            font-size: 12px;
         }
      }
   }
}

.paths-list {
   margin-top: 140px;
   > div:not(:first-of-type) {
      margin-top: 50px;
   }
   .nav-arrows {
      display: none;
   }
   @include breakpoint-tablet {
      margin-top: 100px;
   }
   @include breakpoint-991 {
      margin-top: 40px;
      > div:not(:first-of-type) {
         margin-top: 24px;
      }
      .nav-arrows {
         display: flex;
         padding-top: 80px;
      }
   }
}

.path-card {
   margin: 0 auto;
   padding: 0 0 40px;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   &:hover {
      transform: none;
      .h2, p {
         color: $yellow;
      }
   }
   .col {
      width: 50%;
      box-sizing: border-box;
      padding: 50px 40px 80px;
      position: relative;
   }
   .col-lt {
      display: flex;
      gap: 30px;
      svg {
         flex: 0 0 55px;
      }
   }
   .col-rt:after {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 1px;
      content: '';
      background: linear-gradient(to bottom, $yellow, $black);
   }
   .content {
      margin-top: -15px;
   }
   .h2 {
      font-size: 60px;
      line-height: 1.1;
   }
   p {
      margin-top: 15px;
   }
   .play {
      margin: 80px auto 40px;
      display: none;
      position: relative;
      &:after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         border: 2px solid transparent;
         border-radius: 124px;
         background: linear-gradient(to bottom, $yellow, $black) border-box;
         -webkit-mask:
          linear-gradient($black 0 0) padding-box,
          linear-gradient($black 0 0);
         -webkit-mask-composite: destination-out;
         mask-composite: exclude;
         z-index: 2;
         pointer-events: none;
         transition: all .15s ease-in-out;
      }
   }
   ul {
      margin: 10px 0 0;
      list-style-position: inside;
      li {
         padding: 5px 0 5px 30px;
         box-sizing: border-box;
         position: relative;
         &:after {
            position: absolute;
            top: 7px;
            left: 0;
            width: 16px;
            height: 16px;
            content: '';
            background: url(/images/checkmark.svg);
         }
      }
   }
   @include breakpoint-tablet {
      .content {
         margin-top: -10px;
      }
      .h2 {
         font-size: 44px;
      }
   }
   @include breakpoint-991 {
      padding: 0;
      .col {
         width: 100%;
         padding: 30px;
      }
      .col-lt {
         display: block;
      }
      .col-rt {
         display: none;
      }
      .content {
         margin: 25px auto 0;
      }
      .play {
         display: block;
      }
      .h2 {
         font-size: 20px;
         font-weight: 600;
      }
      &.has-video {
         .h2 {
            font-size: 40px;
            font-weight: 300;
         }
      }
   }
}



// TUTORIALS INNER //

#learning-paths-inner-wrap {
   background: url(/images/subpage-bg.jpg) no-repeat top center;
   background-size: 100% auto;
   padding-top: 200px;
   .page-intro {
      .subtitle {
         text-transform: uppercase;
         font-weight: 500;
         padding-bottom: 12px;
         display: block;
      }
      p {
         max-width: 600px;
      }
      .btn {
         margin: 20px 0 0;
      }
   }
   @include breakpoint-tablet {
      padding-top: 160px;
   }
   @include breakpoint-991 {
      background-size: 200% auto;
   }
   @include breakpoint-mobile {
      padding-top: 80px;
      background-size: 450% auto;
      .page-intro {
         .btn {
            margin-top: 10px;
         }
      }
      .path-types-grid {
         margin-top: 80px;
      }
   }
   @include breakpoint-mobile-wide {
      background-size: 150% auto;
   }
}
