
/* weGlot Translate */
.weglot-container {
    position: relative !important;
    cursor: pointer;
}
.weglot_switcher {
    position: relative !important;
    margin-top: 0;
    margin-right: 5%;
    padding: 4px 7px 3px 10px;
    border-radius: 2px 5px 2px 5px;
    background-color: #616161 !important;
}
.weglot_switcher img {
    height: 15px !important;
    margin-right: 0 !important;
}

.weglot_switcher.open {
    border-radius: 2px 5px 0 0;

}
.weglot_switcher > div > a {
    font-family: 'neue-haas-unica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.08px;
    text-align: center;
    border: 0 !important;
    padding: 0 !important;
    padding-right: 30px !important;
    height: auto !important;
    color: #fff !important;
    text-indent: 10px;
}
.weglot_switcher > div:after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8L11.1962 0.5H0.803848L6 8Z' fill='%23181818'/%3E%3C/svg%3E%0A") !important;
}
.wg-drop.country-selector :not(.wgcurrent) a {
    padding-left: 6px !important;
}
.wg-drop.country-selector :not(.wgcurrent) a img {
    margin-right: 8px !important;
}
.weglot_switcher ul {
    margin-top: 2px !important;
    border-radius: 0 0 2px 5px !important;
    background: #D9D9D9 !important;

}
.weglot_switcher ul li {
    margin-left: 0 !important;
    border-bottom: 1px solid #C0C0C0 !important;
}
.weglot_switcher ul a {
    color: #000 !important;
    width: 100% !important;
    font-family: 'neue-haas-unica', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 21.08px !important;
    height: auto !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;;
}
.weglot_switcher ul a:before {
    bottom: 0 !important;
}
.wg-drop.country-selector .wgcurrent:after {
    height: 30px !important;
}
.wg-drop.country-selector .wgcurrent {
    border:  0 !important;
}
/* .country-selector {  
    background-color: #FFDA34 !important;
    color: #000;
    font-family: var(--ff_1);
    font-weight: 700;
    position: relative;
    border-radius: 3px 12px;
    top: 20px;
    right: 20px;
    bottom: unset !important;
}.
.wg-default .country-selector {
  position: relative !important;
  z-index: 999;
}
.country-selector .wgcurrent  {
  border: 0 !important;
} */